@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Playball');

body,html{
  font-family: "Source Sans Pro",sans-serif;
  font-size: 15px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color:#050914;
  height:100%;
}

/*Global*/

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
ul{
  margin:0;
  padding:0;
}

.subscribe{
  height:38px;
  background:#53d8fb;
 border: 2px solid;
   border-radius: 25px;
   color:#ffffff;
   padding-left:10px;
   padding-right:10px;
   margin-left:10px;
	
}

.dark{
  padding:15px;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
/*Header*/
header{
  background:#0a2342;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#53d8fb 5px solid;
	width:100%;

}

header a{
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
	color:#EDDA93;
   transition:color .5s ease-out; 
   -moz-transition: color .5s ease-out;
   -webkit-transition: color .5s ease-out;
   -o-transition: color .5s ease-out;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #branding{
  float:left;

}

header #branding h1{
  margin:0;
	font-family: "Montserrat",sans-serif;
}

header nav{
  float:right;
  margin-top: 20px;
}

header.highlight, header .current a{
  font-weight: bold;
  color:#53d8fb;
}

header a:hover{
  color:#53d8fb;
}

/*Showcase*/

#showcase{
	font-family: "Playball";
	
  min-height: 400px;
  background: url('../img/showcase.png') no-repeat -800px -400px;
text-align: center;
color: #ffffff;
opacity:0.5;
   transition: opacity .5s ease-out;
   -moz-transition: opacity .5s ease-out;
   -webkit-transition: opacity .5s ease-out;
   -o-transition: opacity .5s ease-out;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
 border-bottom:#53d8fb 5px solid;
}

#showcase:hover{
  opacity: 1.0;
   filter: alpha(opacity=100);
}

#showcase h1{
  margin-top: 100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:30px;
	text-shadow: 2px 2px 2px #000000;
}


/*Biography*/
#biography{
  padding:40px;
  color:#0095FF;
	font-family:"Press Start 2P";
	font-size: 13px;
	line-height: 2em;
	overflow: hidden;
	background:url('../img/Cursor.png') 118px 57px no-repeat;
	background-color: #021223;
}
.fire{
	width:20px;
	height:30px;
}


/*Boxes*/
#boxes{
  border-top:#4D4D4D 5px solid;
	font-family: "Source Sans Pro", sans-serif;
	background: #161616;
}

#boxes .box{
  float:left;
  text-align:center;
  width:30%;
  padding:10px;
  color:#888482;
	
}

#boxes .box img{
  width:100%;
	 border-bottom:#66c3ff 5px solid;
	animation: slidedown 5s;
	animation: fadein 2s;
	
}
@keyframes slidedown {
    0%  {left:200px; top:0px;}
    100%  {left:200px; top:200px;}
  }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Resume*/
#boxes .res{
  margin-top: 20px;
      animation: fadein 2s;
}
@keyframes slidedown {
    0%  {left:200px; top:0px;}
    100%  {left:200px; top:200px;}
  }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#boxes .res img{
	width:100%;
	border-top:#0e2f59 5px solid;
	animation: fadein 2s;
}
@keyframes slidedown {
    0%  {left:200px; top:0px;}
    100%  {left:200px; top:200px;}
  }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.box a{
	color: #53d8fb;
	text-decoration: none;
}


/*Sidebar*/
aside#sidebar{
  float:right;
  width:90%;
  margin-top:10px;
  margin-bottom: 5px;
	font-family: "Montserrat";
}

/*Main-col*/
article#main-col{
  float:left;
  width:65%;
}


footer{
  padding:20px;
  color:#747474;
  text-align:center;
	border-top:#0c2e5b 5px solid;
	font-family: "Press Start 2P";
	background: url('../img/star.gif');
	background-position: bottom;
}

#main-col{
  color:#0e2f59;
	font-family: "Montserrat";
}


/*Media Queries*/
@media(max-width: 768px){
header #branding,
header nav,
header nav li,
#newsletter h1,
#newsletter form,
#boxes .box,
article#main-col,aside#sidebar{
  float:none;
  text-align:center;
  width:100%;
}
header{
  padding-bottom:20px;
}
#showcase{
background-position: -1200px -400px;
}
#biography{
text-align: center;
	background-position: left;
	}
#newsletter button{
display:block;
width:90%;
}
#newsletter form input[type="email"]{
  width:90%;
  margin-bottom:5px;
}
}