@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
.more-pens{
  position: fixed;
  left: 0px;
  bottom: 20px;
  z-index: 10;
  font-family: "Montserrat";
  font-size: 12px;
}
/*Fade Button*/
.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
	border-radius: 50px;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
			border-radius: 50px;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
		border-radius: 50px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
		border-radius: 50px;
}
/*Edit this color for hover*/
.draw-border:hover {
  color:#d81e5b;
			border-radius: 50px;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color:#d81e5b;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
			border-radius: 50px;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
			border-radius: 50px;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
			border-radius: 50px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Montserrat', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  text-decoration:none;
			border-radius: 50px;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
			border-radius: 50px;
}



body {
  margin:auto;
  padding: 0;
  overflow:hidden;
  width: 100%;
  height: 100%;
  background:#0b032d;
}

.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}
.title h1 {
  position: relative;
  color: #EEEEEE;
  font-weight: 600;
  font-size: 60px;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-shadow: 0 0 30px #000155;
}
.title h1 span {
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #BBB;
}
.title h3 {
  font-weight: 200;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color:#d81e5b;
  letter-spacing: 2px;
  text-shadow: 0 0 30px #000155;
}
.designer{
	color:#23b5d3;
}

#footer {
		width: 100%;
		margin-top: 2rem;
		color:#ffffff;
/*			opacity: 0.3;*/
			margin-bottom: 0;
}

@media(max-width:768px){
	.more-pens,.title,.title h1,.title h1 span,.title h3,#footer
	{
	text-align:center;
	width:100%;
	}
	.more-pens{
		display:block;
		width:100%;
		padding:0;
	}
}